@font-face {
  font-family: 'western';
  src: url(../src/font/font_western.ttf);
}

body {
    margin: 0px;
    font-family: 'western', sans-serif;
    text-shadow: .5px .5px white;
    color: black;
}

.background {
    background-image: url("../src/background.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f4c496;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-rows: 2.5fr 4fr 1fr;
    height: 100vh;
    border: 3px;
    box-sizing: border-box;

    border-style: solid;
    border-color: blue;
}

.grid-container > div {
   border-style: solid;
   border-color: red;
 }
 
.grid-container-center {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
}

.grid-container-center div {
    border-style: solid;
    border-color: green;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sprite {
    width: 100%;
    height: 100%;
 }

 #player1 {
     position: absolute;
     right: 20%;
 }

 #player2 {
    position: absolute;
    left: 20%;
    bottom: 0;
 }

.text-center {
   text-align: center;
 }

.pos-r {
  position: relative;
}

.pos-a {
    position: absolute;
}

.h-100 {
    height: 100%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.header {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .notification-container {
    width: 50%;
  }

  #notification {
    font-size: 7vh;
    margin: 5px;
  }

  #startGameButton {
      top: 1vw;
      left: 1vw;
  }

  .control-container {
    height: 50%;
    width: 80%;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5);
  }

  .control-container p {
    font-size: 4vh;
    padding: 15px;
  }

  .btn-success {
    font-family: western;
    background: #559f5e;
    border: none;
    color: white;
    font-size: 4vh;
    border-radius: 10px;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-success:hover {
    background-color: #498a51;
  }